@font-face {
  font-family: 'LuoHei VF';
  src: url('/fonts/LuoHeiVF.woff2') format('woff2');
}

:root {
  --spacing-unit: 1.5rem;
  --fg-color: #000;
  --bg-color: #fff;
}

@media screen and (min-width: 480px) {
  :root {
    --spacing-unit: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #fff;
    --bg-color: #1a1a1a;
  }
}

body {
  min-width: 360px;
  font-size: 1rem;
  margin: 0;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

button,
.button {
  font: inherit;
  color: var(--fg-color);
  background-color: transparent;
  border-radius: 0;
  border: 2px solid var(--fg-color);
  cursor: pointer;
}

button.active,
.button.active {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-unit);
  padding: var(--spacing-unit);
  background-color: var(--bg-color);
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.title {
  margin: 0;
}

.nav {
  display: flex;
  column-gap: 0.75rem;
}

.nav.fixed {
  position: fixed;
  top: calc(var(--spacing-unit) + 8px - 0.25rem);
  right: calc(var(--spacing-unit) - 0.25rem);
  padding: 0.25rem;
  background-color: var(--bg-color);
}

.nav > .button {
  width: 1.25rem;
  height: 1.25rem;
}
