@font-face {
  font-family: 'LuoHei VF';
  src: url('./LuoHeiVF.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --font-variation-normal: 'XWGT' 250, 'YWGT' 500;
    --font-variation-bold: 'XWGT' 400, 'YWGT' 800;

    @apply text-white;
    @apply bg-light;
    @apply dark:text-light;
    @apply dark:bg-dark;
    @apply text-base;
    font-family: 'LuoHei VF';
    font-variation-settings: var(--font-variation-normal);
  }

  a {
    @apply transition-[font-variation-settings];
  }

  button {
    font: inherit;
  }
}

@layer utilities {
  .font-optical-size-sm {
    --font-variation-normal: 'XWGT' 300, 'YWGT' 600;
    --font-variation-bold: 'XWGT' 450, 'YWGT' 900;
    font-variation-settings: var(--font-variation-normal);
  }

  .font-optical-size-lg {
    --font-variation-normal: 'XWGT' 200, 'YWGT' 400;
    font-variation-settings: var(--font-variation-normal);
  }

  .font-bold {
    font-variation-settings: var(--font-variation-bold);
  }

  .tracking {
    @apply tracking-[0.25em];
    @apply -mr-[0.25em];
  }

  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
}
