@font-face {
  font-family: 'LuoHei VF';
  src: url('./LuoHeiVF.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --font-variation-normal: 'XWGT' 250, 'YWGT' 500;
    --font-variation-bold: 'XWGT' 400, 'YWGT' 800;

    @media (prefers-color-scheme: dark) {
      --font-variation-normal: 'XWGT' 225, 'YWGT' 475;
      --font-variation-bold: 'XWGT' 375, 'YWGT' 775;
    }

    @apply text-white;
    @apply bg-light;
    @apply dark:text-light;
    @apply dark:bg-dark;
    @apply text-base;
    font-family: 'LuoHei VF';
    font-variation-settings: var(--font-variation-normal);
  }

  a:hover,
  a:active {
    @apply transition-font-variation;
    @apply font-bold;
  }

  button,
  label[for^='checkbox'],
  label[for^='radio'] {
    @apply cursor-pointer;
    @apply select-none;
    @apply transition-font-variation;

    @media (pointer: fine) {
      &:hover {
        @apply font-bold;
      }
    }
  }

  button {
    font: inherit;
  }
}

@layer utilities {
  .font-optical-size-sm {
    --font-variation-normal: 'XWGT' 300, 'YWGT' 600;
    --font-variation-bold: 'XWGT' 450, 'YWGT' 900;

    @media (prefers-color-scheme: dark) {
      --font-variation-normal: 'XWGT' 275, 'YWGT' 575;
      --font-variation-bold: 'XWGT' 425, 'YWGT' 875;
    }

    font-variation-settings: var(--font-variation-normal);
  }

  .font-optical-size-lg {
    --font-variation-normal: 'XWGT' 200, 'YWGT' 400;
    --font-variation-bold: 'XWGT' 200, 'YWGT' 800;

    @media (prefers-color-scheme: dark) {
      --font-variation-normal: 'XWGT' 175, 'YWGT' 375;
      --font-variation-bold: 'XWGT' 175, 'YWGT' 775;
    }

    font-variation-settings: var(--font-variation-normal);
  }

  .font-bold {
    font-variation-settings: var(--font-variation-bold);
  }

  .tracking {
    @apply tracking-[0.25em];
    @apply -mr-[0.25em];
  }

  .cjk-kern-sm {
    margin-inline-end: 0.25em;
  }

  .cjk-kern-md {
    margin-inline-end: 0.5em;
  }
}
